{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <h1>Bienvenue</h1>
    <img src={{ asset('build/images/adnen.png') }} alt="img-profil" style="max-width:10rem;" />
    <button class="btn btn-primary">ok</button>
{% endblock %}